* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(196, 210, 210);
    font-family: 'Poppins', sans-serif;
    color: #e5e7eb;
    background-image:linear-gradient (to top, #0b111ed1 100%),url(img/light.jpg)
}
body.dark {
    background-color: #0f172a;
    font-family: 'Poppins', sans-serif;
    color: #e5e7eb;
    background-image:linear-gradient url(img/dark.jpg);
}

body.dark .main-game {
    width: 90%;
    max-width: 1100px;
    margin: 40px auto;
    padding: 20px;
    padding-top: 10px;
    background: #1e293b;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.4);
    display: flex;
    flex-direction: column;
    margin-top: 85px;
    margin-bottom: 35px;
}

.main-game {
    width: 90%;
    max-width: 1100px;
    margin: 40px auto;
    padding: 20px;
    padding-top: 10px;
    background: #1e293b;
    border-radius: 16px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.4);
    display: flex;
    flex-direction: column;
    margin-top: 85px;
    margin-bottom: 35px;
    background-color:rgb(103, 123, 123);
    background-color:rgb(143, 151, 151);
}

body.dark .game-title h2 {
    text-align: center;
    margin-bottom: 10px;
    color: #38bdf8;
    font-family: 'archivo-black-regular' ;
    font-size: 35px;
    font-family: 'Oi';
}

.game-title h2 {
    text-align: center;
    margin-bottom: 10px;
    color: #38bdf8;
    font-family: 'archivo-black-regular' ;
    font-size: 35px;
    font-family: 'Oi';
    color: #07222d;
}

.top-section {
    display: grid;
    gap: 20px;
    grid-template-columns: 2fr 1fr;
}

body.dark .game-info {
    flex: 1;
    display: flex;
    height: 100%;
    justify-content: space-between;
    background: #0b1220;
    padding: 20px;
    border-radius: 16px;
    flex-direction: column;
    gap: 10px;
    color: white;
}

.game-info {
    flex: 1;
    display: flex;
    height: 100%;
    justify-content: space-between;
    background: #0b1220;
    padding: 20px;
    border-radius: 16px;
    flex-direction: column;
    gap: 10px;
    background-color:rgb(123, 126, 126);
    color: black;
    
}

.game-info div {
    margin-bottom: 10px;
}

body.dark .game-info div span {
    color: #cbd5f5;
    font-size: 17px;
}

.game-info div span {
    color: #cbd5f5;
    font-size: 17px;
    color: #0a455c;
    font-size: 20px;
}

.price {
    color: #72cff7;
    font-size: 24px;
}

.game-media img ,
.game-media video {  
    width: 100%;
    height: 450px;
    border-radius: 8px;
    object-fit: cover;
}

.game-media {
    width: 100%;
    height: 450px;
    border-radius: 12px;
    object-fit: cover;
    height: auto;
    position: relative;
    max-width: 800px;
    margin: auto;

}

.thumbnails {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    overflow-x: auto;
}

.thumbnails img {
    width: 120px;
    height: 70px;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
    opacity: 0.6;
    transition: 0.3s;
}

.thumbnails img.active,
.thumbnails img:hover {
    opacity: 1;
    border: 2px solid #38bdf8;
}

.prev { left: 10px; }
.next { right: 10px; }

.prev, .next {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.6);
    color: white;
    border: none;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
}

.game-buttons {
    margin-top: 20px;

    background: #111827;
    padding: 20px;
    border-radius: 16px;

    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color:rgb(103, 123, 123);
    background-color:rgb(143, 151, 151);
}

body.dark .game-buttons {
    margin-top: 20px;
    background: #111827;
    padding: 20px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.buy {
    background: linear-gradient(135deg, #38bdf8, #0ea5e9);
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 8px;
}

.buy:hover {
    transform: scale(1.03);
    opacity: 0.9;
}

.add-cart {
    background: #374151;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.add-cart:hover {
    background: #4b5563;
}

.game-buttons div {
    width: 100%;
}

body.dark .description {
    margin: 5px auto;
    max-width: 1100px;
    background: #1e293b;
    padding: 20px;
    border-radius: 12px;
    line-height: 1.6;
    color: white;
}

.description {
    margin: 5px auto;
    max-width: 1100px;
    background: #1e293b;
    padding: 20px;
    border-radius: 12px;
    line-height: 1.6;
    background-color:rgb(143, 151, 151);
    color: black;

}

body.dark .system-requirements {
    background-color: #0b1220;
    max-width: 1100px;
    margin: 40px auto;
    padding: 30px;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    position: relative;
    display: grid;
    margin-top: 30px;
    color: white;
}

.system-requirements {
    background-color: #0b1220;
    max-width: 1100px;
    margin: 40px auto;
    padding: 30px;
    border-radius: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    position: relative;
    display: grid;
    margin-top: 30px;
    background-color:rgb(143, 151, 151);
    color: black;

}

.system-requirements h3 {
    margin-bottom: 15px;
    color: #38bdf8;
    grid-column: 1 / -1;
}

.system-requirements h4 {
    margin-top: 15px;
    margin-bottom: -15px;
}

.system-requirements ul {
    margin-left: 20px;
    list-style: none;
    padding: 0;
}

.system-requirements li {
    margin-bottom: 12px;
    display: block;
}

.add-cart{
    display: none;
}
