.screen{
    background-color:rgba(189, 199, 199, 0.384);
    display:flex;
    justify-content:center;
    align-items:center;   
    width:70%;
    height:70%;
    margin: auto;
    border-radius:5px;
}
body.dark .screen{
    background-color:#1e355a61;
}
#display-screen{
    width:85%;
    height:80%;
    border-radius:10px;
    background-image:url(img/1.png);
    background-size:cover;
    background-position:none;
    background-repeat:no-repeat;
    transition:5s;
    animation-name:animate;
    animation-direction:alternate-reverse;
    animation-play-state:running;
    animation-timing-function:ease-in-out;
    animation-duration:80s;
    animation-fill-mode:forwards;
    animation-iteration-count:infinite;
}
@keyframes animate{
    0%{
        background-image:url(img/2.png);
    }
    6.67%{
        background-image:url(img/3.png);
    }
    13.33%{
        background-image:url(img/6.png);
    }
    20%{
        background-image:url(img/7.png);
    }
    26.67%{
        background-image:url(img/8.png);
    }
    33.33%{
        background-image:url(img/9.png);
    }
    40%{
        background-image:url(img/10.png);
    }
    46.67%{
        background-image:url(img/11.png);
    }
    53.33%{
        background-image:url(img/12.png);
    }
    60%{
        background-image:url(img/13.png);
    }
    66.67%{
        background-image:url(img/14.png);
    }
    73.33%{
        background-image:url(img/15.png);
    }
    80%{
        background-image:url(img/21.png);
    }
    86.67%{
        background-image:url(img/22.png);
    }
    93.33%{
        background-image:url(img/25.png);
    }
    100%{
        background-image:url(img/1.png);
    }
}
.section {
    display:none;
}
.section{
   background-color:#0f172a03;
   margin:40px auto;
   width:60%;
   display:block;
   overflow:hidden;
   animation:fadeinscale linear;
   animation-timeline:view();
   animation-range:entry 0% cover 17%;
}
@keyframes fadeinscale {
    from{
        opacity:0;
        scale:0.5;
    }
    to{
        opacity:1;
        scale:1;
    }
}
h2{
    padding:10px;
}
.wrapper {
  position:relative;
}
.games-container {
  display:flex;
  gap:20px;
  overflow:hidden;
  scroll-behavior:smooth;
  padding: 0 45px;
}
.games-container::-webkit-scrollbar {
  height: 6px;
}
.games-container::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 10px;
}
/* كارت ستيم */
#game {
  min-width:33%;
  height:25%;
  background: #1e293b;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  transition: 0.3s;
}
/* Hover Steam */
.game-card:hover {
  transform: scale(1.05);
  z-index: 2;
}
/* الصورة */
.game-card img {
  width:100%;
  height:100%;
  object-fit:cover;
}
/* الاسم */
.game-card p {
  position:absolute;
  bottom:0;
  width:100%;
  margin:0;
  padding:6px;
  font-size:12px;
  background-color:rgba(0,0,0,0.6);
  text-align:center;
  color:aliceblue;
  cursor:pointer;
}
/*أسهم ستيم*/
.arrow {
  position:absolute;
  top:50%;
  transform:translateY(-50%);
  width:35px;
  height:35px;
  border:none;
  border-radius:50%;
  background:rgba(0,0,0,0.6);
  color:white;
  font-size:10px;
  cursor:pointer;
  z-index:10;
  transition:0.3s;
}
/* تظهر عند hover */
.wrapper:hover .arrow {
  opacity:1;
}
.arrow.left { left:5px; }
.arrow.right { right: 5px; }
