*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image:linear-gradient(to top, #0b111ed1 100%),url(img/light.jpg);
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    background-attachment:fixed;
    color:black;
    width:100%;
    height:100vh;
    display:block;
    overflow-y:auto;
    overflow-x:hidden;
    margin:0;
    position:relative;
    transition:0.4s;
}
body.dark{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image:linear-gradient(to top, #0b111e61 100%),url(img/dark.jpg);
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    background-attachment:fixed; 
    color:white;
}
header{
    width:15%;
    background-color:rgba(151, 156, 156, 0.971);
    position:fixed;
    top:0;
    left:-215px;
    width:215px;
    height:100%;
    z-index:0;
}
header.active{
    left:0;
}
body.dark header{
    background-color:#0b111f;
    width:100%;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    text-align:center;
    height:8%;
    z-index:1000;
}
#menuBtn{
    font-size:20px;
    position:fixed;
    z-index:1000;
    top:15px;
    left:25px;
    background:#333;
    color:white;
    border:none;
    padding:5px;
    cursor:pointer;
    opacity:0.9;
}
body.dark #menuBtn{
    display:none;
}
.navbar{
    left:0;
    display:inline-block;
    align-items:center;
    justify-content:space-between;
    padding:5px;
}
body.dark .navbar{
    left:5px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:5px;
}
.logo1{
    display:none;
}
body.dark .logo1{
    margin-left:30px;
    display:flex;
}
body.dark .logo1 img{
    width:50px;
    height:50px;
    border-radius:50px;
    object-fit:contain;
}
.logo2{
    display:block;
}
.logo2{
    margin-top:5px;
    margin-left:125px;
}
.logo2 img{
    width:50px;
    height:50px;
    border-radius:50px;
    object-fit:contain;
}
body.dark .logo2{
    display:none;
}
.nav-left{
    margin-top:10%;
    font-size:20px;
    display:block;
    position:relative;
    list-style:none;
}
body.dark .nav-left{
    margin-top:0;
    margin-right:25%;
    font-size:20px;
    display:flex;
    gap:20px;
    position:relative;
    list-style:none;
}
.nav-left li a {
    color:#0f172a;
    padding:5px 15px;
    border-radius:5px;
    margin-top:5%;
    width:100%;
    display:inline-block;
    transition:0.3s ease;
    text-decoration:none;
}
body.dark .nav-left li a {
    color:whitesmoke;
    padding:5px 15px;
    border-radius:5px;
    width:100%;
    display:inline-block;
    transition:0.3s ease;
    text-decoration:none;
}
.nav-left li a:hover{
    background-color:#1e293b;
    color:whitesmoke;
    transition:0.5s;
    transform:scale(1.1);
}
body.dark .nav-left li a:hover{
    background-color:greenyellow;
    color:#0f172a;
    transition:0.5s;
    transform:scale(1.1);
}
.nav-right{
    display:none;
}
.sre{
    border-radius:5px;
    border-style:none;
}
#search{
    font-size:15px;
    display:inline-block;
    transition:0.3s ease;
    background-color:rgb(174, 185, 185);
    color:#1e293b;
    cursor:pointer;
    border-radius:5px;
}
body.dark #search{
    font-size:15px;
    display:inline-block;
    transition:0.3s ease;
    background-color:#314461;
    color:whitesmoke;
    cursor:pointer;
}
#search:hover{
    background-color:#1e293b;
    color:whitesmoke;
    transition:0.3s;
    transform:scale(1.1);
}
body.dark #search:hover{
    background-color:greenyellow;
    color:#314461;
    transition:0.3s;
    transform:scale(1.1);
}
#theme{
    margin-top:15px;
    margin-left:15px;
}
body.dark #theme{
    margin-top:0;
    margin-right:15px;
}
.theme-checkbox {
    appearance:none;
    width:45px;
    height:22px;
    background-color:#ccc; 
    transition:0.4s;
    border-radius:15px;
    cursor:pointer;
    position:relative;
    outline:none;
}
.theme-checkbox:checked {
    background:#2a2a2a; 
}
.theme-checkbox::before {
    content:"";
    position:absolute;
    top:50%;
    left:4px; 
    width:16px;
    height:16px;
    background-color:white;
    border-radius:50%;
    transform:translateY(-50%);
    transition:0.4s;
}
.theme-checkbox:checked::before {
    left:25px;
    background-color:#fff;
}
body.dark .space{
    width: 100%;
    height: 8%;
}
body::-webkit-scrollbar{
    width: 6px;
}
body::-webkit-scrollbar-track{
    background-color:rgb(196, 210, 210);
    border-radius: 10px;
}
body::-webkit-scrollbar-thumb{
    background-color:rgb(124, 138, 138);
    border-radius:10px;
}
body::-webkit-scrollbar-thumb:hover{
    background-color:#038b9a6a;
}
body.dark::-webkit-scrollbar{
    width: 6px;
}
body.dark::-webkit-scrollbar-track{
    background-color:#0f172a;
    border-radius: 10px;
}
body.dark::-webkit-scrollbar-thumb{
    background-color:#1e293b;
    border-radius:10px;
}
body.dark::-webkit-scrollbar-thumb:hover{
    background-color:#038b9a6a;
}
.footer{
    background-color:rgba(151, 156, 156, 0.936);
    padding:15px 10px;
    z-index:1000;
}
body.dark .footer {
    background-color:#0b111f;
    padding:15px 10px;
}
.footer-container {
    width: 1100px;
    margin: auto;
    display: flex;
    align-items: center;
    margin-left:230px;
    justify-content: space-between;
}

.footer-social {
    display: flex;
    gap: 12px;
}
.footer-social a {
    width: 30px;
    height: 30px;
    background:rgb(196, 210, 210);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color:#0f172a;
    font-size: 14px;
    transition: 0.3s;
}
body.dark .footer-social a {
    width: 30px;
    height: 30px;
    background: #0f172a;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #94a3b8;
    font-size: 14px;
    transition: 0.3s;
}
.footer-social a:hover {
    color: white;
}
.footer-social a:nth-child(1):hover {
    background: #e1306c; 
}
.footer-contact{
    margin-right:50px;
}
.footer-contact a {
    color:#0f172a;
    text-decoration: none;
    font-size: 25px;
    transition: 0.3s;
}
body.dark .footer-contact a {
    color:#94a3b8;
    text-decoration: none;
    font-size: 25px;
    transition: 0.3s;
}
.footer-contact a:hover {
    color:#2c3f5c;
}
body.dark .footer-contact a:hover {
    color:greenyellow;
}
.footer-copy {
    font-size: 12px;
    color: #0f172a;
}
body.dark .footer-copy {
    font-size: 12px;
    color:#94a3b8;
}
.photo{
    border-radius: 10px;
}
